/*--------------------------------------------------------------
>>> GLOBAL - TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Typography
2.0 Elements
3.0 Header
4.0 Content
5.0 Footer
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 Typography
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

a {

}

b, strong {

}

span {

}


/*--------------------------------------------------------------
2.0 Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
3.0 Header
--------------------------------------------------------------*/

/* dropdown menu */
#navigation {
	position: static;
}

#navigation nav ul.sub-menu {
	display: none;
	position: absolute;
	width: 260px;
	margin: 0;
	padding: 10px 15px;
	background: #f5f5f5;
	list-style: none;
}

#navigation nav li {
	position: static;
}



/*--------------------------------------------------------------
4.0 Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
5.0 Footer
--------------------------------------------------------------*/
